/* Основной контейнер */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1358px; /* Максимальная ширина контейнера */
    padding: 0 16px; /* Отступы по бокам */
}

/* Галерея фотографий с использованием Grid */
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 32px;
    justify-items: center; /* Центрируем элементы внутри колонок */
}

/* Стиль для изображений */
.photo-image {
    object-fit: cover;
    border-radius: 8px;
    width: 430px;
    height: 216px; 
}

/* Медиазапрос для экранов до 1200px */
@media (max-width: 1200px) {
    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .photo-image {
        width: 350px; 
        height: 200px;
    }
}

/* Медиазапрос для экранов до 768px (планшеты) */
@media (max-width: 768px) {
    .photo-gallery {
        grid-template-columns: 1fr; /* 1 колонка на мобильных устройствах */
        gap: 16px;
    }

    .photo-image {
        width: 400px; /* Изображения будут занимать 100% ширины */
        height: 200px; /* Высота меняется пропорционально ширине */
    }
}

/* Медиазапрос для экранов до 480px (мобильные устройства) */
@media (max-width: 480px) {
    .photo-gallery {
        gap: 12px; /* Меньше отступов на мобильных */
    }

    .photo-image {
        width: 100%; /* Полная ширина контейнера */
        height: 180px; /* Меньшая высота для мобильных */
    }
}
